* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
}
  
  
header {
  display: flex;
  margin-top: 21px;
  margin-left: 14px;
  margin-right: 18px;
}

main h1 {
  width: 168px;
  height: 29px;
  margin-left: 100px;
  color: #7F60F9;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.paragrafo {
  width: 310px;
  height: 80px;
  margin-left: 10px;
  border-radius: 25px;
  border: 5px solid #40B2A0;
  background: rgba(64, 178, 160, 0.00);
  mix-blend-mode: darken;
}

.paragrafo p {
    width: 281px;
    height: 55px;
    margin-top: 6px;
    margin-left: 13px;
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paragrafo2{
  width: 310px;
  height: 80px;
  margin: 20px 42px;
  border-radius: 25px;
  border: 5px solid #40B2A0;
  background: rgba(64, 178, 160, 0.00);
  mix-blend-mode: darken;
}

.paragrafo2 p{
  display: flex;
    width: 272px;
    height: 55px;
    margin-top: 5.5px;
    margin-left: 8px;
    margin-right: 10px;
    color: #000;
    font-family: Inter;
    text-align: end;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.linha {
    width: 3px;
    height: 240px;
    margin-top: -210px;
    background: #7F60F9;
}

.links {
    width: 250px;
    height: 306px;
    margin-top: 90px;
    border-radius: 30px;
    border: 5px solid #7F60F9;
    background: rgba(64, 178, 160, 0.00);
    mix-blend-mode: darken;
}

ul{
  width: 126px;
  height: 15px;
  margin-top: 15px;
  margin-left: 20px;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

li {
  margin-top: 6px;
}
