
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #CCCCCC;
}


header {
  display: flex;
  margin-top: 1.3125rem;
  margin-left: 0.875rem;
  margin-right: 1.125rem;

}




/*sidebar aq em baixinho em*/




.menu {
  border-radius: 50%;
  background: #dfdfdf;
  width: 0rem;
  height: 0rem;
  position: fixed;
  top: 0.4125rem;
  left: 1rem;
  z-index: 1;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 1.625rem;
  height: 0.125rem;
  top: 1.8125rem;
  left: 1rem;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -0.625rem;
}

.hamburguer:after{
  bottom: -0.625rem;
}

input {
  display: none;
}

input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0rem;
}

input:checked~label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0rem;
}

.barra {
  background-color: #dfdfdf;
  border-radius: 0 2.5rem 2.5rem 0;
  height: 100%;
  width: 18.75rem;
  position: fixed;
  transition: all .2s linear;
  top: 0%;
  left: -18.75rem;
}

#check:checked~.barra {
  transform: translateX(18.75rem);
}

.itens {
  margin-top: 8.125rem;
  position: relative;
  background: #dfdfdf;
  
}

.inicio {
  display: flex;
  background: none;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 9.375rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-left: 1.8125rem;
  z-index: 2;
  
}

.inicio img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#inici {

  color: #000;
  font-family: Inter;
  font-size: 28px;
  height: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
/*  text-decoration: none;*/
  background: none;
}

.sobre {
  display: flex;
  background: #dfdfdf;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 9.375rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-top: 3.5rem;
  margin-left: 1.8125rem;
  
}

.sobre img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#sobr {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.875rem;
  height: 1.5rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
  background: none;
}

.objetivos {
  display: flex;
  background: #dfdfdf;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 12.0625rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-top: 3.5rem;
  margin-left: 1.8125rem;
  
}

.objetivos img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#objetiv {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  height: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
  background: none;
}

.equipamentos {
  display: flex;
  background: #dfdfdf;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 15.5rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-top: 3.5rem;
  margin-left: 1.8125rem;
  
}

.equipamentos img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#equipament {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  height: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
  background: none;
}

.projeto {
  display: flex;
  background: #dfdfdf;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 10.4375rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-top: 3.5rem;
  margin-left: 1.8125rem;
  
}

.projeto img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#projet {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  height: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
  background: none;
}

.bibliografia {
  display: flex;
  background: #dfdfdf;
  border-radius: 1.25rem;
  border: 0.1875rem solid #40b2a0;
  width: 13.75rem;
  height: 48px;
  padding-left: 0.625rem;
  margin-top: 3.5rem;
  margin-left: 1.8125rem;
}

.bibliografia img{
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  margin-right: 5.625rem;
  background: none;
  height: 1.875rem;
  width: 1.875rem;
}

#bibliografias {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  height: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.4375rem;
  margin-left: -4.875rem;
  background: none;
}



/*sidebar da q pra cima emmm*/





header div {
  width: 2.3125rem;
  height: 2.5rem;
  flex-shrink: 0;
  margin-left: 16.875rem;
  margin-top: 0.125rem;
}

.barra1 {
  background: #7F60F9;
  width: 0.125rem;
  height: 22.0625rem;
  margin-left: 22.25rem;
  margin-right: 1.1875rem;
  margin-top: 1.4375rem;
}

.barra2 {
  background: #7F60F9;
  width: 0.125rem;
  height: 21.5625rem;
  margin-top: -19.0625rem;
  margin-left: 0.8125rem;
  margin-right: 22.5625rem;
}

main {
  display: flex;
  flex-direction: column;
}

.LogoInicial {
  width: 9.375rem;
  margin-top: -19.0625rem;
  margin-left: 0.3125rem;
}

.Robo {
  width: 7.675rem;
  height: 9.75rem;
  margin-top: -3.875rem;
  margin-inline: 12.9375rem;
  margin-block-start: -7.1875rem;
}

main section{
  color: #000;
  margin-top: -3.625rem;
  margin-left: 1.1875rem;
  font-family: Inter;
  font-size: 0.625rem;
  font-weight: 200;
  line-height: 0.625rem;
  width: 11.4375rem;
  height: 0.6875rem;
}

#linkk {
  width: 3.5625rem;
  margin-left: 0.4688rem;
  
}

.linkinho {
  border-radius: 2.5rem;
  border: 0.1875rem solid #7F60F9;
  height: 1.5625rem;
  width: 4.9375rem;
  margin-top: 1.4688rem;
  margin-left: 2.0625rem;
}

.linkinho:hover {
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-weight:4.25rem;
  text-decoration: none;
}

#publicoalvo {
  color: #7F60F9;
  display: flex;
  margin-top: 5.625rem;
  margin-left: 2.625rem;
  width: 8.125rem;
  height: 5.25rem;
  font-family: inter;
  font-size: 2.5rem;
  font-weight: 600;
}

.publico {
  border: 0.1875rem solid #7F60F9;
  background: rgba(217, 217, 217, 0.00);
  width: 11.4375rem;
  height: 12rem;
  border-radius: 2.1875rem;
  margin-top: 2.1875rem;
  margin-left: 1.25rem;
}

.publico p{
  display: flex;
  text-align: left;
  margin-top: 0.8125rem;
  margin-left: 1.125rem;
  width: 9.5875rem;
  height: 9.375rem;
  color: #000;
  font-family: Inter;
  font-size: 0.9875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logoFinal {
  width: 7.375rem;
  height: 8.125rem;
  margin-top: -9.25rem;
  margin-inline: 13.5625rem;
  z-index: 1;
}

.sobrePag {
  background: #CCCCCC;
}

.sobrePag h1{
  color: #7F60F9;
  display: flex;
  margin-top: 6.375rem;
  margin-left: 10.8125rem;
  width: 8.125rem;
  text-align: center;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
}

#sobreP {
  border:0.25rem solid #40b2a0;
  border-radius: 3.0625rem;
  width: 14.8125rem;
  height: 10.5rem;
  margin-top: 2.5rem;
  margin-left: 2.3125rem;
}

#sobreP p{
  color: #000;
  border-radius: 1.25rem;
  margin-top: 0.4375rem;
  margin-left: 0.75rem;
  width: 12.8125rem;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
}

.sobrePag img {
  width: 16.125rem;
  height: 9.875rem;
  margin-top: 3.125rem;
  margin-left: 4.875rem;
}

.verMais {
  border-radius: 2.1875rem;
  border: 0.3125rem solid #7F60F9;
  height: 3.0625rem;
  width: 8.5625rem;
  margin-top: 2.6875rem;
  margin-left: 7.4375rem;
}

#verSobre {
  width: 6.875rem;
  height: 1.625rem;
  text-align: center;
  font-family: Inter;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.2125rem;
  margin-left: 0.4375rem;
}

.barraSobre {
  background: #7F60F9;
  width: 0.125rem;
  height: 25rem;
  margin-left: 22.25rem;
  margin-right: 1.1875rem;
  margin-top: -37.5rem;
}

.barraSobre2 {
  background: #7F60F9;
  width: 0.125rem;
  height: 25.9375rem;
  margin-top: -12.5rem;
  margin-left: 0.8125rem;
  margin-right: 22.5625rem;
}






/*@media only screen and (min-width: 35rem) {

  header{
    background:rgba(0, 0, 0, 0.438);
  }
}
*/