@import url('https://fonts.googleapis.com/css2? family= Archivo:wght@300;700 & family= Open+Sans:ital@1 & family= Roboto:ital,wght@0,100; 0.500;0.700;1.500;1.700 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #CCCCCC;
}


header {
  display: flex;
  margin-top: 21px;
  margin-left: 14px;
  margin-right: 18px;

}





/*sidebar aq em baixinho em*/














.menu {
  border-radius: 50%;
  background: #dfdfdf;
  width: 0px;
  height: 0px;
  position: fixed;
  top: 6.6px;
  left: 16px;
  z-index: 1;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 26px;
  height: 2px;
  top: 29px;
  left: 16px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after{
  bottom: -10px;
}

input {
  display: none;
}

input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0px;
}

input:checked~label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0px;
}

.barra {
  background-color: #dfdfdf;
  border-radius: 0 40px 40px 0;
  height: 100%;
  width: 300px;
  position: fixed;
  transition: all .2s linear;
  top: 0%;
  left: -300px;
}

#check:checked~.barra {
  transform: translateX(300px);
}

.itens {
  margin-top: 130px;
  position: relative;
  background: #dfdfdf;
  
}

.inicio {
  display: flex;
  background: none;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 150px;
  height: 3rem;
  padding-left: 10px;
  margin-left: 29px;
  z-index: 2;
  
}

.inicio img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#inici {

  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  height: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 7px;
  margin-left: -78px;
/*  text-decoration: none;*/
  background: none;
}

.sobre {
  display: flex;
  background: #dfdfdf;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 150px;
  height: 3rem;
  padding-left: 10px;
  margin-top: 56px;
  margin-left: 29px;
  
}

.sobre img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#sobr {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 30px;
  height: 24px;
  margin-top: 7px;
  margin-left: -78px;
  background: none;
}

.objetivos {
  display: flex;
  background: #dfdfdf;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 193px;
  height: 3rem;
  padding-left: 10px;
  margin-top: 56px;
  margin-left: 29px;
  
}

.objetivos img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#objetiv {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 600;
  height: 24px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: -78px;
  background: none;
}

.equipamentos {
  display: flex;
  background: #dfdfdf;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 248px;
  height: 3rem;
  padding-left: 10px;
  margin-top: 56px;
  margin-left: 29px;
  
}

.equipamentos img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#equipament {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 600;
  height: 24px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: -78px;
  background: none;
}

.projeto {
  display: flex;
  background: #dfdfdf;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 167px;
  height: 3rem;
  padding-left: 10px;
  margin-top: 56px;
  margin-left: 29px;
  
}

.projeto img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#projet {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 600;
  height: 24px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: -78px;
  background: none;
}

.bibliografia {
  display: flex;
  background: #dfdfdf;
  border-radius: 20px;
  border: 3px solid #40b2a0;
  width: 220px;
  height: 3rem;
  padding-left: 10px;
  margin-top: 56px;
  margin-left: 29px;
}

.bibliografia img{
  margin-top: 5.6px;
  margin-left: 4px;
  margin-right: 90px;
  background: none;
  height: 30px;
  width: 30px;
}

#bibliografias {
  color: #000;
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 600;
  height: 24px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: -78px;
  background: none;
}








/*sidebar da q pra cima emmm*/




















header div {
  width: 37px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 270px;
  margin-top: 2px;
}

.barra1 {
  background: #7F60F9;
  width: 2px;
  height: 353px;
  margin-left: 356px;
  margin-right: 19px;
  margin-top: 23px;
}

.barra2 {
  background: #7F60F9;
  width: 2px;
  height: 345px;
  margin-top: -305px;
  margin-left: 13px;
  margin-right: 361px;
}

main {
  display: flex;
  flex-direction: column;
}

.LogoInicial {
  width: 150px;
  margin-top: -305px;
  margin-left: 5px;
}

.Robo {
  width: 122.8px;
  height: 156px;
  margin-top: -62px;
  margin-inline: 207px;
  margin-block-start: -115px;
}

main section{
  color: #000;
  margin-top: -58px;
  margin-left: 19px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 200;
  line-height: 10px;
  width: 183px;
  height: 11px;
}

#linkk {
  width: 57px;
  margin-left: 7.5px;
  
}

.linkinho {
  border-radius: 40px;
  border: 3px solid #7F60F9;
  height: 25px;
  width: 79px;
  margin-top: 23.5px;
  margin-left: 33px;
}

.linkinho:hover {
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-weight:68px;
  text-decoration: none;
}

#publicoalvo {
  color: #7F60F9;
  display: flex;
  margin-top: 90px;
  margin-left: 42px;
  width: 130px;
  height: 84px;
  font-family: inter;
  font-size: 40px;
  font-weight: 600;
}

.publico {
  border: 3px solid #7F60F9;
  background: rgba(217, 217, 217, 0.00);
  width: 183px;
  height: 192px;
  border-radius: 35px;
  margin-top: 35px;
  margin-left: 20px;
}

.publico p{
  display: flex;
  text-align: left;
  margin-top: 13px;
  margin-left: 18px;
  width: 153.4px;
  height: 150px;
  color: #000;
  font-family: Inter;
  font-size: 15.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logoFinal {
  width: 118px;
  height: 130px;
  margin-top: -148px;
  margin-inline: 217px;
  z-index: 1;
}

.sobrePag {
  background: #CCCCCC;
}

.sobrePag h1{
  color: #7F60F9;
  display: flex;
  margin-top: 102px;
  margin-left: 173px;
  width: 130px;
  text-align: center;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
}

#sobreP {
  border:4px solid #40b2a0;
  border-radius: 49px;
  width: 237px;
  height: 168px;
  margin-top: 40px;
  margin-left: 37px;
}

#sobreP p{
  color: #000;
  border-radius: 20px;
  margin-top: 7px;
  margin-left: 12px;
  width: 205px;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
}

.sobrePag img {
  width: 258px;
  height: 158px;
  margin-top: 50px;
  margin-left: 78px;
}

.verMais {
  border-radius: 35px;
  border: 5px solid #7F60F9;
  height: 49px;
  width: 137px;
  margin-top: 43px;
  margin-left: 119px;
}

#verSobre {
  width: 110px;
  height: 26px;
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3.4px;
  margin-left: 7px;
}

.barraSobre {
  background: #7F60F9;
  width: 2px;
  height: 400px;
  margin-left: 356px;
  margin-right: 19px;
  margin-top: -600px;
}

.barraSobre2 {
  background: #7F60F9;
  width: 2px;
  height: 415px;
  margin-top: -200px;
  margin-left: 13px;
  margin-right: 361px;
}






/*@media only screen and (min-width: 560px) {

  header{
    background:rgba(0, 0, 0, 0.438);
  }
}
*/