* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
  }
  

.deitada{
  display: flex;
  margin: -10rem 9.5rem 0;
  stroke-width: 0.125rem;
  background: #40B2A0;
  width: 11.875rem;
  height: 0.125rem;
}



.bonequinhos {
  width: 5.9375rem;
  height: 5.9375rem;
  margin-top: 100px;
  margin-left: 25px;
}

.pa1 {
  width: 10rem;
  height: 12.125rem;
  margin-top: 1.5rem;
  margin-left: 10.3125rem;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
}

.objetivinhos {
  display: flex;
  width: 11.5rem;
  height: 2.5rem;
  margin: 2rem 4.8rem 0;
  color: #7F60F9;
  text-align: center;
  font-family: Inter;
  font-size: 3rem;
  line-height: 2.6875rem;
}

.deitada2 {
  display: flex;
  background: #40B2A0;
  width: 11.875rem;
  height: 0.125rem;
  margin: -19rem 1.5625rem 0;
  
}

.pa2 {
  display: flex;
  margin: 1.5rem 2.1875rem 0;
  width: 10rem;
  height: 22.1875rem;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  background-color: #7F60F9;
}

#robocolorido {
  width: 97px;
  height: 97px;
  margin: 130px 230px;
  display: flex;
}

@media only screen and (min-width: 900px) {

  .deitada{
    display: flex;
    margin: -19rem 36.5rem 0;
    stroke-width: 0.125rem;
    background: #40B2A0;
    width: 57rem;
    height: 0.125rem;
  }
  
  
  
  .bonequinhos {
    width: 213px;
    height: 213px;
    margin: 120px 120px;
  }
  
  .pa1 {
    width: 1050px;
    height: 146px;
    margin: 1.5rem 34rem 0;
    color: #000;
    font-family: Inter;
    font-size: 29px;
  }
  
  .objetivinhos {
    display: none;
  }
  
  .deitada2 {
    display: flex;
    background: #40B2A0;
    width: 58rem;
    height: 0.125rem;
    margin: -19rem 18rem 0;
    
  }
  
  .pa2 {
    display: flex;
    margin: 1.5rem 16rem 0;
    width: 1060px;
    height: 227px;
    color: #000;
    font-family: Inter;
    font-size: 29px;
  }
  
  #robocolorido {
    width: 213px;
    height: 213px;
    margin: 8.125rem 95rem;
    display: flex;
  }
}