* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
  }
  

.deitada{
  display: flex;
  margin: 2.5rem 9.5rem 0;
  stroke-width: 0.125rem;
  background: #40B2A0;
  width: 11.875rem;
  height: 0.125rem;
}



.bonequinhos {
  width: 5.9375rem;
  height: 5.9375rem;
  margin: -10rem 1.5rem 0;
}

.pa1 {
  width: 10rem;
  height: 12.125rem;
  margin-top: -0.625rem;
  margin-left: 10.3125rem;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
}

.objetivinhos {
  display: flex;
  width: 11.5rem;
  height: 2.5rem;
  margin: rem 5.9375rem 0;
  color: #7F60F9;
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 2.6875rem;
}

.deitada2 {
  display: flex;
  background: #40B2A0;
  width: 11.875rem;
  height: 0.125rem;
  margin: -12.5rem 1.5625rem;
}

.pa2 {
  display: flex;
  margin: 14.6875rem 2.1875rem 0;
  width: 10rem;
  height: 22.1875rem;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.robocolorido {
  width: 6.0625rem;
  height: 6.0625rem;''
  margin: 31.875rem 15.0625rem;
}