* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
  }
  
  


.mainProjeto h1 {
  margin: 3.6875rem 8.5rem;
  color: #7F60F9;
  }

.video1 {
  margin: 0 1rem;
  width: 21.5rem;
  height: 14.5625rem;
  border-radius: 0.9375rem;
}


.video2 {
    margin: 0 1rem;
    width: 10.625rem;
    height: 11.0625rem;
    border-radius: 0.9375rem;
}

.video3 {
  width: 10.625rem;
  height: 11.0625rem;
  margin: -11.05rem 11.8rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #7E7E7E;
}

.FTcarrinhoProjeto {
  width: 21.5rem;
  height: 14.5625rem;
  border-radius: 0.9375rem;
}

.FTcarrinhoProjeto2 {
  width: 10.625rem;
  height: 11.0625rem;
  border-radius: 0.9375rem;
}

.FTcarrinhoProjeto3 {
  width: 10.625rem;
  height: 11.0625rem;
  border-radius: 0.9375rem;
}




@media only screen and (min-width: 900px) {

  .mainProjeto h1 {
    display: none;
    }

.videos {
  display: flex;
}
  
  .video1 {
    width: 350px;
    height: 700px;
    margin: 120px 730px 0;
    border-radius: 0.9375rem;
  }
  
  .video2 {
    width: 219px;
    height: 570px;
      margin: 200px -620px;
      border-radius: 0.9375rem;
      background: #7E7E7E;
  }
  
  .video3 {
    width: 219px;
    height: 570px;
    margin: 200px -480px;
    border-radius: 0.9375rem;
    background: #7E7E7E;
  }

  .FTcarrinhoProjeto {
    width: 310px;
    height: 570px;
    border-radius: 0.9375rem;
  }
  
  .FTcarrinhoProjeto2 {
    width: 310px;
    height: 600px;
    border-radius: 0.9375rem;
  }
  
  .FTcarrinhoProjeto3 {
    width: 310px;
    height: 800px;
    border-radius: 0.9375rem;
  }
  
}