* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CCCCCC;
  }
  
  


main h1 {
  margin: 3.6875rem 6.8125rem;
  }

.video1 {
  background: black;
  width: 21.5rem;
  height: 14.5625rem;border-radius: 0.9375rem;
}

.video2 {
    width: 10.625rem;
    height: 11.0625rem;
    border-radius: 0.9375rem;
background: #7E7E7E;
}

.video3 {
  width: 10.625rem;
  height: 11.0625rem;
  margin-top: -11.1875rem;
  margin-left: 10.8125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #7E7E7E;
}