* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ccc;
}

header {
    display: flex;
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 18px;
  }
  
  header img {
    width: 37px;
    height: 37px;
  }
  
  header div {
    width: 37px;
    height: 40px;
    margin-left: 270px;
    margin-top: 2px;
  }

  main h1{
    color: #7F60F9;
    display: flex;
    margin-top: 69px;
    margin-left: 118px;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 600;
  }

  .p1{
    background: #40B2A0;
  }

  .carro{
    width: 269px;
    height: 222px;
    margin-top: 38px;
    }