* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ccc;
}

header {
    display: flex;
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 18px;
  }
  
  header img {
    width: 37px;
    height: 37px;
  }
  
  header div {
    width: 37px;
    height: 40px;
    margin-left: 270px;
    margin-top: 2px;
  }

  h1{
    display: flex;
    color: #7F60F9;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }