header {
    display: flex;
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 18px;
  
  }




  header .robokidsHeader {
    width: 37px;
    height: 41px;
    margin-left: 300px;
    flex-shrink: 0;
  }